body {
    font-family: "Segoe UI", "Microsoft JhengHei", sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

/* Custom scrollbar for canvas container */
#canvas-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
#canvas-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
#canvas-container::-webkit-scrollbar-thumb {
    background: #888; 
}
#canvas-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Nested Dropdown Support */
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}
